@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* CSS Reset */
*,
*:before,
*:after {
  margin: 0;
  padding: 0;

  /* font-size: 100%; */
  /* font: inherit; */
  /* vertical-align: baseline; */
  font-family: "Inter", sans-serif;
  /* font-optical-sizing: auto; */

  /* font-style: normal; */


}

:root {
  --color-accent: #1E293B;
  --color-primary: #4ECB71;
  --color-black: #090909;
  --color-white: #ffffff;
  --footerbg: #ECE8E8;
  --footer-text-color: #3B3A3A;
  --text-color: var(--color-black);
  --placeholder-color: #A0AEC0;

  --section-header-fontsize: 40rem;

}



body {
  background-color: var(--color-white);

  scroll-behavior: smooth;

}

main {
  padding: 0 3rem;
}

.section-title {
  text-align: center;
  text-decoration: underline;
}

::selection {
  background-color: var(--color-primary);
}

a {
  text-decoration: none;
}

svg {
  font-size: 2rem;
  width: 1rem;
  height: 1rem;
  fill: #4ECB71;
}

/* === Nav === */

header {
  padding: 1rem 2rem;
  line-height: 1.5;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav ul {
  list-style: none;
}

.nav-link {
  display: flex;
  gap: 2rem;
}

.menu {
  display: flex;
}

.cv {
  padding: 4px;
}

.menu svg {
  fill: currentColor;
}


/* ===== HOME SECTION ==== */

#home {
  padding: 0;
}

.home-container {
  display: flex;
  align-items: center;
}

.hero-text {
  padding: 0;
}

.hero-headings {
  margin: 2rem 0;
}


/* ==== ABOUT ME ==== */
#about-me {
  font: normal;
}

.about-me-description {
  padding: 1rem 0;
}






/* ==== CONTACT SECTION ======= */
#contacts {
  padding: 0;
}

.contacts-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  margin-top: 6rem;
  margin-bottom: 10rem;
}

.address-titles {
  text-transform: uppercase;
  font-size: 1rem;
  text-align: center;
  margin-bottom: 1rem;

}

.adress-p {
  font-size: 1rem;
  padding: 0 4rem 0 0;
  margin-bottom: 1rem;
}

.social-media-icon {
  display: flex;
 
  justify-content: center;
  margin-top: 1.5rem;
}

.social-media-icon svg {
  width:2.5rem;
}


/* == Contact Form === */
.contacts-form {
  padding: 0 2rem 0 9rem;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}


fieldset {
  border: none;
}

legend {
  text-align: center;
  font-size: .9rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 1rem;
}

label {
  display: none;
}

input {
  background: transparent;
  border: 1px solid var(--color-accent);
  border-radius: 4px;
  padding: .7rem;

}

textarea {
  background: transparent;
  border: 1px solid var(--color-accent);
  border-radius: 4px;
  padding: .7rem;
  resize: none;
  color: var(--color-accent);
  height: 8rem;
}

.submit-btn {
  padding: 8px;
  color: var(--color-white);
  background-color: var(--color-primary);
  border: 0px solid var(--color-accent);
  border-radius: 4px;
  font-weight: 700;
}


/* ===FOOTER ==== */

footer {
  background-color: var(--footerbg);
  color: var(--footer-text-color);
  text-align: center;
  margin-top: 4rem;
  padding: .5rem;
}

.footer-p {
  font-size: small;
}